:root {
    --primary-color: #3e0b0f;
    --sidebar-width: 206px;
}
/* =========================================
   PRIMARY THEME STYLES
   ========================================= */


/* ---------- TEXT ---------- */
.text-primary { 
    color: var(--primary-color) !important;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--primary-color) !important;
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color);
}

/* ---------- BACKGROUND ---------- */
.bg-primary {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

.bg-primary-subtle {
    background-color: color-mix(in srgb, var(--primary-color) 10%, white) !important;
}

/* ---------- BUTTONS ---------- */
.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color);
    color: #fff;
    transition: all 0.3s ease;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: color-mix(in srgb, var(--primary-color) 90%, black);
    border-color: color-mix(in srgb, var(--primary-color) 90%, black);
    color: #fff;
}

/* ---------- OUTLINE BUTTON ---------- */
.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
    transition: all 0.3s ease;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
}


body {
    background-color: #f8f9fa;
    overflow-x: hidden;
    /* font-family: 'Rubik', sans-serif; */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

/* Sidebar */
.sidebar {
    width: var(--sidebar-width);
    background: #fff;
    min-height: 100vh;
    border-right: 1px solid #eaeaea;
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    /* left: 0; */
    /*left: calc(-1 * var(--sidebar-width));*/
    z-index: 1040;
    padding-top: 1rem;
}

.sidebar.active {
    left: 0;
}

.cursor-pointer{
  cursor: pointer;
}
.sidebar .text-center img {
    display: block;
    margin: 0 auto;
}
.sidebar .nav-link {
    color: #333;
    font-weight: 500;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 10px 15px;
    transition: background 0.3s;
}

.sidebar .nav-link:hover {
    background: rgba(67, 138, 122, 0.05);
}

.sidebar .nav-link.active {
    color: var(--primary-color);
    background: rgba(67, 138, 122, 0.1);
}

/* Topbar */
.topbar {
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 1030;
}

.topbar .menu-toggle {
    /*border: none;*/
    /*background: transparent;*/
    /*font-size: 1.5rem;*/
    /*color: var(--primary-color);*/
    /*display: inline-block;*/
    display:none;
}

/* Main content */
.main-content {
     margin-left: var(--sidebar-width); 
     /*margin-left:0;*/
    padding: 2rem;
    min-height: 100vh;
    transition: all 0.3s ease;
}

/* .btn-danger{
    background-color: #F97D09;
} */

/* .btn-secondary{
    background-color: #278D27;
}

.text-dark{
    color: #278D27 !important;
} */

/* Mobile view */
@media (max-width: 992px) {
    .sidebar {
        left: calc(-1 * var(--sidebar-width));
    }

    .sidebar.active {
        left: 0;
    }

    .main-content {
        margin-left: 0;
        padding: 20px;
    }

    .topbar .menu-toggle {
        display: inline-block;
    }
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1035;
}

.overlay.active {
    display: block;
}
.card {
    border-radius: 12px;
}

.table-hover tbody tr:hover {
    background-color: rgba(67, 138, 122, 0.05);
}
.table td {
    font-size: 13px;
    font-weight: 400;
    color: #8691aa;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 9999; /* Ensure it is above all other elements */
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Initially invisible */
    pointer-events: none; /* Prevent interactions with the loader */
    transition: visibility 0s, opacity 0.3s ease-in-out; /* Smooth transition for visibility */
    display: flex;/* Flexbox for centering */
}

.loader-container[wire\:loading] {
    visibility: visible; /* Make it visible when loading */
    opacity: 1; /* Make it fully opaque */
    pointer-events: all; /* Enable interactions with the loader */
}

.loader {
    width: 50px;
    height: 50px;
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "›";
    color: #6c757d;
}
 .bg-lavel-danger{
        background: #ffe2e3;
        /* color: #F97D09; */
    }
    .bg-lavel-success{
    background-color: #e4f7d6 !important;
    color: #56ca00 !important;
    }
    .bg-lavel-warning{
    background-color: #fff3d6;
    color: #ffb400;
    }

    .chart-body{
        height: 436px;
        overflow-y: auto;
    }

    .custom-upload-box {
        position: relative;
        border: 2px dashed #cdd5df;
        border-radius: 10px;
        padding: 10px 25px;
        text-align: center;
        cursor: pointer;
        transition: .2s;
        background: #f8f9fa;
    }

    .custom-upload-box:hover {
        background: #eef2f6;
        border-color: #0d6efd;
    }

    .file-input {
        opacity: 0;
        position: absolute;
        inset: 0;
        cursor: pointer;
    }

    .upload-label {
        color: #6c757d;
    }

    .upload-card h6 {
        font-size: 15px;
    }
    .custom-upload-box.border-danger {
        box-shadow: 0 0 6px rgba(255, 0, 0, 0.4);
    }
    .filter-card .chosen-container{
        min-width: 205px !important;
    }

    /* ================================
   CHOSEN STYLES ONLY FOR THIS SECTION
   ================================ */

    #nomination-status-card .chosen-container-single .chosen-single {
        border: 1px solid #f7d98e !important;
        height: 32px !important;                    /* smaller height */
        line-height: 32px !important;
        border-radius: 6px !important;
        padding-left: 10px !important;
    }

    /* Arrow box */
    #nomination-status-card .chosen-container-single .chosen-single div {
        background-color: #fff9e6 !important;
        border-left: 1px solid #f7d98e !important;
        width: 32px !important;
    }

    /* Arrow icon alignment */
    #nomination-status-card .chosen-container-single .chosen-single div b {
        margin-top: 4px !important;
    }

    /* Dropdown results background */
    #nomination-status-card .chosen-container .chosen-drop {
        border: 2px solid #f7d98e !important;
        border-radius: 6px !important;
    }

    /* Hover on results */
    #nomination-status-card .chosen-container .chosen-results li.highlighted {
        background-color: #ffefc1 !important;
        color: #000 !important;
    }

    /* Placeholder text */
    #nomination-status-card .chosen-container-single .chosen-single span {
        color: #666 !important;
    }

    /* Search box inside dropdown */
    #nomination-status-card .chosen-container .chosen-search input {
        background: #ffffff !important;
        border: 1px solid #f7d98e !important;
        border-radius: 6px !important;
        height: 32px !important;
    }
    

    #campaign-permission-status-card .chosen-container-single .chosen-single {
        border: 1px solid #c2f2fb !important;
        height: 32px !important;                    /* smaller height */
        line-height: 32px !important;
        border-radius: 6px !important;
        padding-left: 10px !important;
    }

    /* Arrow box */
    #campaign-permission-status-card .chosen-container-single .chosen-single div {
        background-color: #c2f2fb !important;
        border-left: 1px solid #c2f2fb !important;
        width: 32px !important;
    }

    /* Arrow icon alignment */
    #campaign-permission-status-card .chosen-container-single .chosen-single div b {
        margin-top: 4px !important;
    }

    /* Dropdown results background */
    #campaign-permission-status-card .chosen-container .chosen-drop {
        border: 2px solid #c2f2fb !important;
        border-radius: 6px !important;
    }

    /* Hover on results */
    #campaign-permission-status-card .chosen-container .chosen-results li.highlighted {
        background-color: #c2f2fb !important;
        color: #000 !important;
    }

    /* Placeholder text */
    #campaign-permission-status-card .chosen-container-single .chosen-single span {
        color: #666 !important;
    }

    /* Search box inside dropdown */
    #campaign-permission-status-card .chosen-container .chosen-search input {
        background: #ffffff !important;
        border: 1px solid #c2f2fb !important;
        border-radius: 6px !important;
        height: 32px !important;
    }

    /* dashboard */

.inner-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #dadada;
    text-align: center;
    height: 100%;
}
.title-head {
    text-align: center;
    background: #00990017;;
    color: #000000;
    padding: 14px 0;    line-height: 1;
    width: 100%;
    font-size: 18px;
    /* background: linear-gradient(to bottom,  rgba(255,153,0,1) 0%,rgba(255,255,255,1) 50%,rgba(0,153,0,1) 100%);  */


}
.wrappper-bpdy {
    padding:20px;
    height: 100%;
}
.blue-head {
    background-color: #5B86FC;
}
.blue-line {
    border-color: #5B86FC;
}

.red-head {
    background-color: #F46674;
    color: #fff;
}
.red-line {
    border-color: #F46674;
}

.green-head {
    background-color: #1BC976;
    color: #fff;
}
.green-line {
    border-color: #1BC976;
}

.yellow-head {
    background-color: #FDB747;
    color: #fff;
}
.yellow-line {
    border-color: #FDB747;
}
.btm-small {
    display: inline-block;
    text-decoration: none;
    background: #ccc;
    color: #000;
    padding: 7px 12px;
    font-size: 14px;
    border-radius: 8px;
}

.blue-btm {
    background: #3363e8;
    color: #fff;
}

.red-btm {
    background: #F46674;
    color: #fff;
}
.chrat-place {
    /*margin-bottom: 20px;*/
    cursor:pointer;
}

.grid-place {
    display: flex;
    flex-wrap: wrap;
}
.grid-place .inner-grid {
    flex:1 1 0;
}

.inner-grid {
    display: flex;
    align-items: center;
    text-align: center;
     height: 116px; 
    justify-content: center;
    border: 1px solid #ccc;
    margin-bottom: 24px;
    flex-direction: column;
    /*padding: 7px 0 0;*/
}
.grid-label {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    margin-top: auto;
    width: 100%;
    padding: 4px 0;
    line-height: 1;
    background: #ffffff;
}

.grid-total{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: auto;
    width: 100%;
    padding: 4px 0;
    line-height: 1;
}


.inner-grid h2 {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin-bottom:4px;
}
.inner-grid h2 span {
    display: block;
}

.inner-grid .value {
    font-size: 20px;
    font-weight: 600;
}

.color-label {
    display: flex;
    flex-wrap: wrap;
    gap:12px;
}

.color-label h6 {
    font-size: 12px;
    font-weight: 700;
    color: #000;
    width: 100%;
    text-align: left;
}

.color-grid {
    display: flex;
    align-items: center;
    column-gap: 6px;
    font-size: 13px;
    line-height: 1;
}
.color-grid span {
    width:12px;
    height: 12px;
    border-radius: 50%;
    display: block;
}

.j-green-bg {
    background-color: #1BC976;
}
.j-yellow-bg {
    background-color: #FDB747;
}
.j-gray-bg {
    background-color: #A7A7A7;
}
.j-red-bg {
    background-color: #F46674;
}

.j-purple-bg {
    background-color: #D28BDF;
}

.j-blue-bg {
    background-color: #3363e8;
}

.j-pink-bg {
    background-color: #f3a3a3 ;
}
.j-red-bg {
    background-color: #f46674 
}

.j-grey-bg {
    background-color: #A7A7A7 
}


.bar-chirt-option {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.chirt-stack {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.chirt-stack .label {
    font-size: 13px;
    color:#000;
    font-weight: 500;
    width: 120px;     
    text-align: left;  
}
.stack-chirt {
    display: flex;
    align-items: flex-start;
    flex: 1;
    height: 26px;
    background: #e8e8e8;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}
.stack-chirt .bar {
    min-width: 98px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 13px;
    padding: 0 13px;
    color:#000000;
}

.chirt-tooltip {
    position: fixed;
    padding: 10px 14px;
    background: rgba(0, 0, 0, 0.90);
    color: #fff;
    font-size: 13px;
    border-radius: 8px;
    line-height: 1.4;
    pointer-events: none;
    opacity: 0;
    transform: translateY(5px);
    transition: opacity 0.15s ease, transform 0.15s ease;
    z-index: 999999;
    white-space: nowrap;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}
 
/* Color dot */
.chirt-tooltip .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}
.notifications-dropdown {
    max-height: 350px;
    overflow-y: auto;
    width: 320px;
}

/* Notification item */
.notifications-dropdown .dropdown-item {
    display: flex;
    align-items: flex-start; /* icon top align */
    gap: 8px;
    white-space: normal; /* allow line break */
    word-break: break-word; /* break long words */
    line-height: 1.3;
    padding: 8px 12px;
}

/* Icon size */
.notifications-dropdown .dropdown-item i {
    font-size: 14px;
    margin-top: 3px;
}

/* Hover effect */
.notifications-dropdown .dropdown-item:hover {
    background: #f5f7fa;
    border-radius: 4px;
}
.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    top: -105%;
    right: -40%;

    /* left: 0%; */
    /* transform: translateY(-50%); */
    background-color: var(--primary-color) !important;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;

    z-index: 9999; /* very important */
}

.tooltip-wrapper:hover .tooltip-text {
    visibility: visible;
}


/*----Joy 09-03-26---*/


.canditate-search {
    position: relative;
}

.canditate-search input[type="text"] {
    width:100%;
    height: 45px;
    padding: 0 42px 0 19px;
}

.canditate-search span {
    position: absolute;
    right:11px;
    top:50%;
    transform:translateY(-50%);
}

.canditate-search svg {
    width:25px;
    height: 25px;
}

.select-style {
    height: 32px;
    font-size: 12px;
}

.chosen-container-single .chosen-single {
    font-size: 13px;
}

.chosen-container .chosen-results li {
    font-size: 13px;
}

.chosen-container-active.chosen-with-drop .chosen-single div:after {
    top: -1px !important;
}

.table th {
    font-size: 12px;
    background: #00990017;
    color: #090;
}

.form-select {
    font-size: 12px;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.btn-sm {
    font-size: 13px !important;
}


/*---- New Button Style------*/

.btm-small {
    background: #009900 !important;
    color:#fff !important;
}
header button {
    background: inherit !important;
    color:#000  !important;
}

.title-text {
    margin-bottom: 6px;
    color: #009900;
    display: block;
}

.section-header{
    font-weight: 600;
    padding: 10px 12px;
    border-bottom: 2px solid #090;
    background: #00990017;
    margin-bottom: 15px;
}

.list-group-item.active {
  background-color: #2CAA2C;
  border-color: #2CAA2C;
}

.preview-option {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
}

.preview-option .document {
    width: 70px;
    text-align: center;
    text-decoration: none;
    color: #000;
    border: 1px solid #ccc;
    line-height: 1;
    border-radius: 2px;
    padding: 6px;
    font-size: 12px;
}

.preview-option .images-wrapper {
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    line-height: 1;
    border-radius: 2px;
    padding: 6px;
    overflow: hidden;
}

.chat-box-type .border {
    font-size: 13px;
}

.chat-stack {
    position: sticky;
    top:83px;
    align-self: flex-start;
}

.preview-image-stack {}

.preview-wrapper-stack {
    position: sticky;
    top:0;
    align-self: flex-start;
    position:relative;
    height: calc(100% - 44px);
    overflow-x: auto;
}
.preview-wrapper-stack iframe {
    /* width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0; */
}

.chat-box {
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
    background: #f5f7fb;
    border-radius: 10px;
}

.chat-bubble {
    max-width: 100%;
    padding: 10px 12px;
    border-radius: 12px;
    width:100%;
}

.chat-bubble.me {
    background: #e7e8fa;
    color: #000;
    border-bottom-right-radius: 0;
}

.chat-bubble.other {
    background: #fff;
    color: #000;
    border-bottom-left-radius: 0;
}

.responsive-title {
  font-size: 14px;
  font-weight: 600;
  color: #198754;
  display: none;
}

.check-list {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 17px;
}

.s0-heading {
    font-size: 16px;
    font-weight: 600;
    color: #2caa2c;
    margin-bottom: 17px;
}

.check-list .form-check input[type="checkbox"] {
  border-color: #727272 !important;
  width: 15px;
  height: 15px;
}

.box-written {
    height: 327px;
}

.box-written .cke_chrome {
    height:100%;
    overflow-y: scroll;
}

.preview-list {
    flex-wrap: wrap;
}

.preview-list button {
    font-size: 13px;
    color: #017601;
    display: inline-block;
    border: 1px solid #12a012;
    border-radius: 4px;
    padding: 7px;
    width: fit-content;
    background: #f5fff5;
}


.light-bg-blue {
    background: #49beff1a;
}

        .attachment-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            flex-direction:column;
        }

        .attachment-card {
            position: relative;
            border: 1px solid #e5e5e5;
            border-radius: 10px;
            padding:4px;
            width: 100%;
            background: #fafafa;
        }

        .attachment-content {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .attachment-img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 6px;
        }

        .file-icon {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f1f1f1;
            border-radius: 6px;
            font-size: 20px;
        }

        .file-info {
            flex: 1;
        }

        .file-name {
            font-size: 13px;
            font-weight: 600;
            margin-top:0;
        }

        .file-size {
            font-size: 11px;
            color: #777;
        }

        .remove-btn {
            position: absolute;
            top: -6px;
            right: -6px;
            background: #ff4d4f;
            color: white;
            width: 18px;
            height: 18px;
            font-size: 11px;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }

/*-----responsive----*/

@media(max-width:1025px) {}

@media(max-width:769px) {
    .title-head {
        font-size: 15px;
    }
    .color-grid {
        text-align: left;
    }
    .table td {
        font-size: 13px !important;
    }
    .form-control {
        font-size: 13px !important;
    }
    .list-group-item + .list-group-item {
        font-size: 12px;
    }
    .section-header {
        font-size: 13px;
    }
    .form-label {
    font-size: 13px;
    }
}

@media(max-width:481px) {
    .main-content {
        padding: 20px 10px 20px 10px;
    }
    .graph-part {
        padding: 16px !important;
    }
    .tab-pill-stack {
        flex-direction: column !important;
        gap: 16px !important;
    }

    .mobile-table thead {
        display: none;
    }

    .mobile-table tbody tr, .mobile-table tbody td {
        display: block;
    }

    .mobile-table tbody tr {
        margin-bottom: 16px;
        border: 0.5px solid #d8d8d8;
    }

    .mobile-table tbody td {
        border-bottom: none;
        border: 0.5px solid #d8d8d8;
    }
    .mobile-table tbody td:last-child{
        border-bottom: 0.5px solid #d8d8d8;
    }
    .responsive-title {
        display: block;
    }

    .pagination {
        flex-wrap: wrap;
        gap: 10px;
    }

    .title-text {
        font-size: 13px;
    }

}